# Python виртуальное окружение
hag_venv/
venv/
env/

# Python кеш
__pycache__/
*.pyc
*.pyo

# База данных (если не нужна в репо)


# Переменные окружения (секретные ключи)
.env

# Временные файлы
*.tmp
*.log

# Сгенерированные отчеты
exports/
reports/

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# PyCharm
.idea/